html {
  font-size: 14px;
}

#headSection {
  background-image: url("./resources/jumbotron.png");
  background-size: cover;
  padding: 11.85rem 0;
  /* debug
  border: medium solid red; */
  margin-bottom: -50px;
}

#headSection h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  color: white;
  text-align: center;
}

#headSection p {
  max-width: 51.3rem;
  width: 100%;
  text-align: center;
  /* debug
  border: medium solid red; */
}

#jButtonRow {
  padding-top: 2.8rem;
}

#jButton {
  padding: 1.3rem 0;
  width: 11.4rem;
  background-color: #399bd1;
}

#jButton:hover {
  background-color: rgba(57,85,209,1.0);
}

.navbar li:first-child a {
  color: #399bd1;
}

#featuredProject img {
  width: 100%;
  height: auto;
}

#featureTitle {
  padding-bottom: 20px;
  /* debug
  border: medium solid red; */
}

.format1 {
  color: #399bd1;
}

.format2 {
  font-size: 1.7rem;
}

.format3 {
  font-size: 1.3rem;
}

.format4 {
  font-size: 2.5rem;
}

.format5 {
  max-width: 42rem;
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}

#featuredProject li {
  color: rgba(0,0,0,0.7);
  line-height: 1.4;
}

#projects {
  padding-bottom: 5.85rem;
}

#projects img {
  width: 100%;
  height: auto;
}

#lastSection {
  background-color: #f3f3f3;
  padding: 5.2rem 0;
}

#lastSection p {
  text-align: center;
  /* debug
  border: medium solid red; */
}

@media only screen and (max-width: 460px) {
  nav img {
    display: none;
  }
  #headSection h1 {
    font-size: 5.7rem;
  }
  #projects p {
    padding-bottom: 5.85rem;
  }
  #projects {
    padding-bottom: 0;
  }
}
