html {
  font-size: 14px;
}

#headSection {
  background-image: url("./resources/jumbotron.png");
  background-size: cover;
  padding: 11.85rem 0;
  /* debug
  border: medium solid red; */
}

#headSection h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  color: white;
  text-align: center;
}

#headSection p {
  width: 51.3rem;
  text-align: center;
  /* debug
  border: medium solid red; */
}

/*
#jButton {
  padding: 1.3rem 0;
  width: 11.4rem;
  background-color: #399bd1;
}
*/

.navbar li:first-child a {
  color: #399bd1;
}
